.productBlock{
    padding: 15px;
    display: grid;
}


.productBlock-top{
    display: flex;
    justify-content: space-between;
}

.productBlock-viewAll label:hover{

}

.block-list{
    display: flex;
    overflow-x: auto;
    gap: 15px;
}
.block-list::-webkit-scrollbar{
    width: 0;
    height: 0;
}