.product{
    height: 100%;
    width: 100%;
    padding: 10px 10px 58px 10px;
    /*background: #DB3022;*/
}

.product-content{
    height: 100%;
    width: 100%;
    display: flex;
    margin-bottom: 58px;
    flex-direction: column;
    /*align-items: center;*/
    /*text-wrap: avoid;*/
}

.product-img{
    align-self: center;
    max-height: min-content;
    max-width: max-content;
}

.product-img img{
    height: auto;
    width: auto;
    max-width: 350px;
    max-height: 350px;
}

.product-top{
    display: flex;
}

.product-title{

    justify-self: left;
    font-size: 24px;
}

.myExpand-button{
    width: 100%;
    background: white;
    border: 1px gray solid;
    border-radius: 5px;
}

.product-specs{
    text-wrap: avoid;
    font-size: 45px;
}



#product-specs.show{
    margin-bottom: 60px;
}


.product-toCart{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    background: #DB3022;
    height: 48px;
    width: 343px;
    font: 16px "Segoe UI";
    -webkit-font-smoothing: subpixel-antialiased;
}

@media (max-width: 353px) {
    .product-toCart{
        width: calc(100% - 20px);
    }
}