.myCart {
    height: calc(100% - 57px);
    width: 100%;
    padding: 0.5rem;
}

.myCart-title{
    margin: .5rem 0;
    font-size: 34px;
}

.myCart-empty{
    display: flex;
    justify-content: center;
}

.myCart-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
    gap: 10px;
}

.myCart-stats{
    display: flex;
}

.myCart-spacer{
    height: 100px;
}

.myCart-total-price-title{
    position: absolute;
    left: 0.5rem;
    color: dimgray;
}

.myCart-total-price{
    position: absolute;
    right: 0.5rem;
    color: black;
}