.myCart {
    height: calc(100% - 57px);
    width: 100%;
    padding: 10px;
}

.myCart-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
    gap: 10px;
}

.myCart-stats{
    border: 1px gray solid;
    display: flex;
    position: absolute;
    right: 0;
}

.myCart-spacer{
    height: 100px;
}